html,
body {
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #fafafa;
  position: relative;
}

/* Home */

#home-banner-container {
  background: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(76, 51, 152, 1)),
    url("../img/home-background.jpg") center center no-repeat;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

#home-banner-inner {
    margin-top: 20px;
}
.login-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
}

/* Add Button */

.add-button {
  position: absolute;
  background-color: "#ffffff";
  right: 5px;
  top: 5px;
  padding: 10px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 10px;
}

/* Category Item */

.category_title {
  color: black;
  font-weight: bold;
}

/* Footer */

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px; 
  line-height: 60px;
  background-color: rgba(76, 51, 152, 1);
}